$accent-orange: #FF461E;
$background-white: #F5F5FA;
$light-grey: #757575;
$medium-grey: #616165;
$dark-grey: #2D2D32;
$dark-blue: #1A7ADA;
$light-blue: #95C6FB;
$text-blue: #2C96BF;
$grey-text: #AFAFB3;
