
@import "base/normalize.scss";
@import "base/global.scss";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "../../../node_modules/react-vis/dist/style";
@import url('https://fonts.googleapis.com/css?family=Roboto')
