.Header {
  box-shadow: 0 1px 2px rgba(0,0,0,0.025);
  background-color: #fff;
  border-bottom: 1px solid #e6e6eb;
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  align-items: center;
}

.Logo {
  margin: 0px 40px;
  padding: 0px 15px;
}

.SignInNavBar{
  display: flex;
  align-items: right;
  width: 400px;
  margin-right: 50px;
  margin-left: 200px;
  justify-content: space-between;
}

.SessionButton {
  border-radius: 1px;
  font-size: 11px;
  padding: 12px 40px;
  border: 1px solid #cccccc;
}

.main-nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.site-nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  width: 400px;
  justify-content: space-between;
  height: 55px;
}

.site-nav-button {
  box-sizing: border-box;
  width: 115px;
  height: 100%;
  font-size: 14px;
  border: 1px solid #cccccc;
  white-space: nowrap;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #606065;
}

// .button-contents {
//   font-weight: bold;
//   border: 1px #fc4c02;
//   height: 100%;
//   width: 100%;
// }

.session-nav-bar{
  display: flex;
  align-items: right;
  margin-right: 50px;
  margin-left: 200px;
  justify-content: space-between;
}


.sign-out-button {
  box-sizing: border-box;
  border-radius: 1px;
  font-size: 11px;
  padding: 12px 40px;
  border: 1px solid #cccccc;
}
