.Main-Content {
  width: 100%;
  background-color: #f5f5fa;
  display: flex;
  justify-content: center;
}

.Splash {
  height: calc(100vh - 55px);
  background-size: cover;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.home-page-background{
  height: calc(100vh - 55px);
  background: image-url("sea-coast.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.splash-header{
  text-align: center;
  margin-top: 100px;
  // position: relative;
  // top: 29px;
  margin-right: 200px;

  h1 {
    font-size: 46px;
    font-weight: 800;
    line-height: 1.33em;
    font: Tajawal;
    text-shadow: 1px 2px 14px #2b462a;
    color: whitesmoke;
  }

}
