.Main-Content {
  width: 100%;
  height: 100%;
  background-color: #f5f5fa;
  display: flex;
}

.Splash {
  background: image-url("jenny-hill.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.splash-header{
  text-align: center;
  margin-top: 100px;
  // position: relative;
  // top: 29px;
  margin-right: 200px;

  h1 {
    font-size: 46px;
    font-weight: 800;
    line-height: 1.33em;
    text-shadow: 1px 1px 1px rgba(17,41,59,0.76);
  }

}
