.Main-Content {
  width: 100%;
  height: 100%;
  background-color: #f5f5fa;
  display: flex;
}

.Splash {
  background: url("sea-splash.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  

}
