#map-container{
  width: 80%;
  height: 80%;
}

.map-button-bar{
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;

}

.center {
  color: rgb(25,25,25);
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
  // inner-html: 'Center Map';
}

.button-bar {
  position: absolute;
  left: 400px;
  z-index: 3000;
  border: 2px solid #fff;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}
