.route-main{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;


  .route-header{
    height: 114px;
    width: 1246px;;
    padding-top: 30px;

    h1 {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 30px;
    }

    .create-route-button{
      font-size: 14px;
      color: rgb(255, 255, 255);
      background-color: #fc4c02;
      width: 117px;
      height: 18px;
      padding: 10px 16px;
      text-align: center;
      text-decoration: none;
      border-radius: 2px;
    }

    .create-route-button:hover{
      color: #ffffff;
    background-color: #c93d02;
    border-color: #bf3a02
    }

  }

  .route-body{
    width: 1246px;
    border-top: 1px solid #ccccd1;
    margin-top: 40px;
    padding: 10px 0 0 0;

    .route-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .route-list-item{
        width: 23.4%;
        height: 361px;
        margin: 0 1.6% 40px 0;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        align-content: flex-start;

        .route-small-map{

        }

        .route-meta-data{
          height: 158px;
          width: 100%;
          padding: 15px 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h3{
            margin: 0px;
            height: 47px;
            width: 249px;
            color: #007FB6;
            font-weight: 300;
            font-size: 18px;
          }

          // h3:hover{
          //   text-decoration: underline;
          // }

          .route-stat-list{
            width: 249px;
            height: 47px;
            // display: flex;
            // flex-direction: row;

            li {
              width: 66;
              height: 46px;
              margin-right: 20px;
              display: inline-block;

              strong {
                font-size: 24px;
                font-weight: 300;
                line-height: 1.2em;
                display: block;
                text-align: left;

                abbr {
                  font-size: 0.65em;
                  line-height: 1em;
                  margin-left: 2px;
                }
              }

              label {
                font-size: 12px;
                display: inline-block;
              }
            }
          }

          .route-time-data{
            height: 18px;
            font-size: 12px;
            margin-top: 12px;
            display: block;

            span {
              color: #99999e;

            }
          }
        }

        .route-timestamp-footer {
          height: 28px;
          width: 100%;
          background-color: #F0F0F0;
          padding: 5px 20px;
          color: #99999e;
          font-size: 12px;
        }

        .delete-route {
          height: 18px;
          font-size: 15px;
          padding-top: 3px;
          display: block;
        }
        .delete-route:hover{
          text-decoration: underline;
        }
      }
    }
  }


}
