.route-main{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;


  .route-header{
    height: 114px;
    width: 90%;
    padding-top: 30px;

    h1 {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 30px;
    }

    .create-route-button{
      font-size: 14px;
      color: rgb(255, 255, 255);
      background-color: #fc4c02;
      width: 117px;
      height: 18px;
      padding: 10px 16px;
      text-align: center;
      text-decoration: none;
      border-radius: 2px;
    }

  }

  .route-body{
    width: 90%;
    border-top: 1px solid #ccccd1;
    margin-top: 40px;
    padding: 10px 0 0 0;

    .route-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .route-list-item{
        width: 23.4%;
        height: 361px;
        margin: 0 1.6% 40px 0;
        background-color: #f7f7f7;
        border: 2px solid;
      }
    }
  }


}
