.sessionform{
  z-index: 1000;
  // border: 1px solid #e6e6eb;
  position: relative;
  border-radius: 3px;
  width: 400px;
  height: 592px;
  top: 60px;
  background: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-background {
  background: image-url("jenny-hill.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sign-up-background{
  background: image-url("nature-forest.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.session-form-input {
  height: 40px;
  // background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-around;
  width: 300px;
  // font-size: 14px;
  // font-weight: 400;
  border-radius: 3px;
}


.session-link{
  text-align: center;
  color: #fff;
  background-color: #fc4c02;
  border-color: #fc4c02;
  align-content: center;
  margin-top: 20px;
  font-size: 14px;

}

.demo-link {
  text-align: center;
  color: #fff;
  background-color: #2C5C94;
  border-color: #2C5C94;
  align-content: center;
  margin: 5px 0px;
  font-size: 14px;

}
.session-welcome {
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 76px;

  h2 {
    color: rgb(238, 238, 238);
    font-size: 30px;
    margin: 20px;
    font-weight: 300;
    line-height: 36px;
  }
}

.session-fieldset {
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 75px;

  input::placeholder {
  font-size: 14px;
  }

}

.user-input{
  padding: 10px 16px;
  background: rgba(0,0,0,0.5);
  border: 1px solid #666;
  color: #CCC;
  margin: 10px 0px;

  input[type=text]:focus {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 8px 0 rgba(255,255,255,0.8);
  }
}
