.sessionform{
  z-index: 1000;
  // border: 1px solid #e6e6eb;
  position: relative;
  border-radius: 3px;
  width: 400px;
  height: 600px;
  top: 40px;
  background: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form-input {
  height: 17px;
  padding: 12px 10px;
  margin: 6px 0;
  justify-content: space-around;
  width: 300px;
  font-size: 20px;
  border-radius: 3px;
}

.user-input{
  background: rgba(0,0,0,0.5);
  border: 1px solid #666;
  color: #CDCDCD;
  margin: 10px 0px;
}

.session-link{
  text-align: center;
  color: #fff;
  background-color: #fc4c02;
  border-color: #fc4c02;
  align-content: center;
  margin-top: 20px;
  font-size: 16px;

}

.demo-link {
  text-align: center;
  color: #fff;
  background-color: #2C5C94;
  border-color: #2C5C94;
  align-content: center;
  margin: 5px 0px;
  font-size: 16px;

}
.session-welcome {
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: box-sizing;
  height: 12%;

  h2 {
    color: #EEEEEE;
    font-weight: 200;
    font-size: 30px;
    margin: 20px;
    font-weight: 250;
  }
}

.session-fieldset {
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 75px;

  input::placeholder {
  font-size: 18px;
  }

}
