.stats-main-page {
  // display: flex;
  // flex-direction: column;
  // background-color: #ffffff;
  // width: 100%;
  // height: 100%;
  // align-items: flex-start;
  // box-sizing: border-box;
  // padding-bottom: 80px;
  // padding-top: 30px;
  // margin-left: auto;
  // margin-right: auto;
  // padding-left: 96px;
  // padding-right: 96px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  // height: 100vh;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;

  .month-stats-header {
    box-sizing: border-box;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1246px;
    padding-right: 10px;
    padding-left: 10px;

    h1 {
      font-weight: 300;
      font-size: 30px;
      letter-spacing: -0.01em;
      color: rgb(77, 77, 81);
      margin-bottom: 30px;
    }

    .month-year-stats-heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .stats-year-select {
        display: flex;
        flex-direction: row;

        h2 {
          margin-left: 10px;
          margin-right: 10px;
          font-size: 24px;
          font-weight: 300;
          color: rgb(77, 77, 81);
        }

        .fas {
          font-size: 24px;
          color: rgb(77, 77, 81);
          height: 24px;
        }

        .fas:hover {
          color: #007fb6;
          cursor: pointer;
        }
      }
    }

    .annual-total-widget {
      // border: 1px solid;
      height: 54px;
      width: 328px;
      margin-right: 5px;
      font-family: 'Helvetica Neue', Arial, sans-serif;

      .annual-stats-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .annual-stat-item-off {
          text-align: center;
          margin-right: 20px;
          cursor: pointer;
          vertical-align: top;

          .annual-stat-num {
            color: #2d2d32;
            font-size: 30px;
            font-weight: 300;
          }

          div {
            font-size: 12px;
            color: rgb(153, 153, 158);
          }
        }
      }
      .annual-stat-item-off:hover .annual-stat-num {
        color: #007fb6;
      }

      .annual-stat-item-on {
        text-align: center;
        margin-right: 20px;
        cursor: pointer;
        vertical-align: top;

        .annual-stat-num {
          color: #007fb6;
          font-size: 30px;
          font-weight: 300;
        }

        div {
          font-size: 12px;
          color: rgb(153, 153, 158);
        }
      }
    }
  }

  section {
    width: 1246px;

    .month-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: space-between;
    }
  }
}

.monthly-chart {
  background: #f5f5fa;
  height: 210px;
  width: 289px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;

  h3 {
    text-align: right;
    font-size: 24px;
    font-weight: 300;
    color: #99999e;
  }

  .month-stat-total {
    color: #2d2d32;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
  }

  .month-stat-unit {
    font-size: 12px;
    color: #99999e;
  }

  .react-month-chart {
    width: 215px;
    height: 81px;
  }
}

.monthly-chart:hover {
  background: #007fb6;
  color: #fff;
  cursor: pointer;
}

.monthly-chart:hover h3 {
  color: #fff;
}

.monthly-chart:hover .month-stat-total {
  color: #fff;
}

.monthly-chart:hover .month-stat-unit {
  color: #fff;
}

.week {
  box-sizing: border-box;
  // width: 799px;
  height: 130.5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.week-summary {
  width: 120px;
  border-bottom: 2px solid rgba(215, 215, 215, .5);
  padding: 4px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.week-breakdown {
  width: 669px;
  
  // border: 1px solid;
}
.date-range {
  font-size: 11px;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Roboto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.sub-stat-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-stat {
  font-size: 12px;
  font-weight: 300;
  color: #666;
  text-anchor: start;
  font-family: Roboto;
}
.training-log-title{
  font-weight: 300;
  line-height: 1.2em;
  word-break: break-word;
  font-size: 30px;
  margin: 30px 0 30px 0;
  font-family: Roboto;
  color: #2d2d32;
  letter-spacing: -0.01em;
  width: 819px;
}

.week-training-header{
  width: 819px;
  height: 83px;
}
.main-week-stat {
  margin-top: 30px;
  text-anchor: start;
  font-size: 25px;
  font-weight: 300;
  color: #444;
  font-family: Roboto;
}
.bubble-list {
  display: flex;
  flex-direction: row;
}

.stat-selector{
  box-sizing: border-box;
  background: transparent;
  border: none;
  font-size: 14px;
  height: 34px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 170px;
  background-color: #fff;
  border: 1px solid #ccccd1;
  font-size: 14px;
  color: #2d2d32;
  border-radius: 2px;
}
