.user-profile-page{
    width: 100%;
    // height: calc(100vh - 55px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    column-count: 3;
    box-sizing: border-box;

    .workout-form-container{
      width: 389px;
      height: 400px;
      background: #EEEEEE;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      select{
        font-size: 14px;
      }
      
      header{
        // width: 600px;
        height: 70px;
        position: relative;
        background: #F6F6F6;
        border-bottom: 1px solid #ccccd1;
        padding: 15px 35px;
        display: flex;
        flex-direction: column;

        h1{
          font-weight: 300;
          font-size: 30px;
          padding-top: 5px;
          text-align: center;
        }

      }

      .workout-form {
        height: 425px;
        // width: 420px;
        padding: 35px 37px;
        display: flex;
        flex-direction: column;
        font-size: 13.5px;
        line-height: 1.4em;
        p {
          color: 232323;
        }
        label{
          color: #606065;
        }

        .workout-time-input{
          justify-content: center;
          display: flex;
          flex-direction: row;
          height: 52px;
          justify-content: flex-start;

          input {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            height: 34px;
            background-color: #fff;
            border: 1px solid #ccccd1;
            color: #666;
            line-height: 1.4em;
            vertical-align: baseline;
            border-radius: 0px;
            width: 100px;
            margin-right: 25px;
            align-items: center;
          }
        }
        .workout-input{
          height: 52px;
          // width: 600px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          input {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            height: 34px;
            background-color: #fff;
            border: 1px solid #ccccd1;
            color: #666;
            line-height: 1.4em;
            vertical-align: baseline;
            border-radius: 0px;
          }

          // .without::-webkit-datetime-edit-ampm-field {
          //   display: none;
          // }
        }
      }
    }
}

.profile-aside{
  border: 1px solid black;
  width: 311.5px;
  padding: 0px 16px;
  height: 981px;


  .workout-stats-widget{
    border: 1px solid black;
    width: 279.5px;
    height: 490px;
  }
}
